/* app */
:root {
    --primary-color: rgba(212, 255, 20, 0.8);
    --primary-color-opaque: #ddff5d;
    --light-gray-background: #eeeeee;
}

.floating-corner.white {
    background-color: #ffff;
    color: #000;
}

.floating-corner.light {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #8882;
    color: #000;
}

.floating-corner.dark {
    background-color: #000e;
    color: #fff;
}

/* infinite sheet */

#infinite-sheet {
    background: url("img/dot-background-2px.png");
    background-position: 0% 0%;
}

/* DVM selector */

#mode-selector div.left,
#mode-selector div.right {
    background-color: #000000;
    color: #ffffff;
}

#mode-selector div.left-activated-caption,
#mode-selector div.right-activated-caption {
    background-color: var(--light-gray-background);
}

/* task */

.task.pending {
    --text-color: #000000;
    --background-color: #ececec;
}

.task.done {
    --text-color: #000000;
    --background-color: #d4ff14cc;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgba(212, 255, 20, 0.8);
        --primary-color-opaque: #d1ff2a;
        --light-gray-background: #eeeeee;
    }

    html {
        color: #fff;
        background-color: #1b1b1b;
    }

    .floating-corner.white {
        background-color: #000;
        color: #fff;
    }

    .floating-corner.light {
        background-color: #000e;
        color: #fff;
        border: 1px solid rgba(202, 202, 202, 0.133);
    }

    .floating-corner.dark {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
    }

    #infinite-sheet {
        background: url("img/dot-background-dark-mode.png");
    }

    #left,
    #right {
        background-color: #3d3d3d;
        color: #bebebe;
        box-shadow: 0 10px 5px -5px #15151588, 0 0 5px #15151588;
    }

    #left-activated-caption,
    #right-activated-caption {
        background-color: #3d3d3d;
        color: #bebebe;
    }

    .task.pending {
        --text-color: #bebebe;
        --background-color: #3d3d3d;
    }

    .task.done {
        --text-color: var(--primary-color-opaque);
        --background-color: #3d3d3d;
    }
} */