.infinite-sheet-header {
    width: var(--task-container-width);
    font-size: 1.1rem;
    color: var(--clr-off-black);
    padding-top: calc(0.4rem + 1px);
    padding-left: calc(1rem + 2 * var(--space-between-body-and-decorations) + 29px);
    padding-right: 1rem;
    padding-bottom: 0.4rem;
}

.infinite-sheet-task-container {
    position: relative;
    width: var(--task-container-width);
}

.infinite-sheet-task-body {
    width: var(--task-body-width);

    left: calc(29px + 2 * var(--space-between-body-and-decorations));

    font-size: 1rem;

    border-radius: 8px;
    box-sizing: border-box;

    /* -webkit-user-drag: element; */

    /* user-select: none;
    -webkit-user-select: none; */

    cursor: default;
    transform: scale(1);

    position: relative;
}

.infinite-sheet-task-container[data-is-collaborated="false"][data-is-target="false"]>.infinite-sheet-task-body {
    color: var(--clr-off-black);
    background-color: var(--clr-solo-task);
}

.infinite-sheet-task-container[data-is-collaborated="false"][data-is-target="true"]>.infinite-sheet-task-body {
    color: var(--clr-target-solo-fg);
    background-color: var(--clr-target-bg);
}

.infinite-sheet-task-container[data-is-collaborated="true"][data-is-target="false"]>.infinite-sheet-task-body {
    color: var(--clr-off-black);
    background-color: var(--clr-collaborated-task);
}

.infinite-sheet-task-container[data-is-collaborated="true"][data-is-target="true"]>.infinite-sheet-task-body {
    color: var(--clr-target-collaborated-fg);
    background-color: var(--clr-target-bg);
}

.infinite-sheet-task-container[data-is-completed="true"]>.infinite-sheet-task-body {
    opacity: 0.2;
}

#infinite-sheet.context-menu-open .abstract-cell-scroller-view-cell-positioner.context-menu-focused-on .infinite-sheet-task-container {
    transform: scale(1.05);
    opacity: 1;
}

#infinite-sheet.context-menu-open .abstract-cell-scroller-view-cell-positioner:not(.context-menu-focused-on) .infinite-sheet-task-container,
#infinite-sheet.context-menu-open .infinite-sheet-header {
    opacity: 0.1;
    transform: scale(0.90);
}

.infinite-sheet-task-editable-area::-webkit-scrollbar {
    display: none
}

.infinite-sheet-task-editable-area {
    display: block;
    width: 100%;
    padding: calc(0.4rem + 1px) 1rem 0.4rem;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;

    user-select: auto;
    /* pointer-events: all; */
    white-space: pre;
    outline: none;
}

.infinite-sheet-task-update-badge {
    position: absolute;
    left: calc(var(--task-body-width) + 3 * var(--space-between-body-and-decorations) + 29px);
    top: 0;
    z-index: 0;

    padding: calc(0.4rem + 1px) 0.4rem 0.4rem;
    text-align: center;

    background-color: #FF0066;
    color: #ffffff;

    visibility: hidden;
    opacity: 0;

}