{{define "signup"}}
<form id="signup">
    {{template "signup-profile"}}
    {{template "signup-username-password"}}
    {{template "signup-phone"}}
    {{template "signup-email"}}
    {{template "signup-email-verify"}}
    {{template "signup-mfa"}}
</form>
{{end}}