!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.history
.history/
.ionide
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/*
.vscode/*.code-snippets
*.code-workspace
*.dll
*.dylib
*.exe
*.exe~
*.icloud
*.out
*.so
*.test
*.vsix
/Godeps/
/vendor/
go.work
Icon
Network Trash Folder
Temporary Items
