_.code-workspace
_.dll
_.exe
_.exe~
_.log
_.pid
_.seed
_.so
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.\_\*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.dynamodb/
.env
.env.production
.env.test
.eslintcache
.fseventsd
.fusebox/
.grunt
.history
.history/
.ionide
.lock-wscript
.LSOverride
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.\*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vscode
.vscode-test
.vscode/*
.vscode/*.code-snippets
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.code-workspace
*.dll
*.dylib
*.exe
*.exe~
*.icloud
*.out
*.so
*.test
*.vsix
**/certificates
/Godeps/
\*.dylib
\*.lcov
\*.out
\*.pid.lock
\*.test
\*.tgz
\*.tsbuildinfo
bower_components
build/Release
coverage
dist
go.work
Icon
jspm_packages/
lerna-debug.log*
lib-cov
logs
Network Trash Folder
node_modules/
npm-debug.log_
out
pids
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
Temporary Items
web_modules/
yarn-debug.log*
yarn-error.log*
