__generated__
_.code-workspace
_.dll
_.exe
_.exe~
_.log
_.pid
_.seed
_.so
._*
.\_\*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.buckconfig.local
.buckd/
.buckversion
.cache
.cache/
.com.apple.timemachine.donotpresent
.cxx/
.directory
.DocumentRevisions-V100
.DS_*
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production
.env.production.local
.env.test
.env.test.local
.eslintcache
.expo
.externalNativeBuild
.fakebuckversion
.fseventsd
.fuse_hidden*
.fusebox/
.gradle
.gradle/
.gradletasknamecache
.grunt
.history
.history/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/workspace.xml
.ionide
.lock-wscript
.LSOverride
.navigation/
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnp.\*
.pnp.js
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.TemporaryItems
.tern-port
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode
.vscode-test
.vscode/*
.vscode/*.code-snippets
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.aab
*.aar
*.ap_
*.apk
*.class
*.code-workspace
*.dex
*.dll
*.dylib
*.exe
*.exe~
*.hprof
*.icloud
*.iml
*.lcov
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.out
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.seed
*.so
*.sublime*
*.test
*.tgz
*.tsbuildinfo
*.vsix
*.xccheckout
*.xcscmblueprint
**/*.back.*
**/*.backup.*
**/certificates
*~
/.pnp
/*.gcno
/build
/coverage
/Godeps/
/node_modules
\*.dylib
\*.lcov
\*.out
\*.pid.lock
\*.test
\*.tgz
\*.tsbuildinfo
bin/
bower_components
buck-out/
build/
build/Release
captures/
coverage
DerivedData/
dist
docs/**/export
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline_project_description.json
freeline.py
freeline/
gen/
go.work
gradle-app.setting
Icon
jspm_packages/
lerna-debug.log*
lib-cov
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
logs
Network Trash Folder
node_modules
node_modules/
npm-debug.log_
npm-debug.log*
out
out/
pids
proguard/
psd
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sketch
Temporary Items
thumb
vcs.xml
web_modules/
xcuserdata/
yarn-debug.log*
yarn-error.log*

!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
