[Unit]
Description=Logbook Deployed Application Runner
After=app-db-tunnel.service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/var/www/app.d/app
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=/var/log/logbook-app/backup.log

[Install]
WantedBy=multi-user.target