.task-wrapper {
    margin-bottom: 40px;
    cursor: pointer;
}

.task {
    font-size: 1.2rem;
    line-height: 22px;

    padding: 5px 20px;

    border-radius: 8px;

    transition: all 50ms ease-out;

    box-sizing: border-box;

    /* -webkit-user-drag: element; */

    margin-left: calc(40px * var(--depth));
}

.task-group.regular .task,
.task.done {
    background-color: rgba(212, 255, 20, 0.8);
}

.task-group.active-tasks .task,
.task.active {
    background-color: #f1d9ffd0;
}

.task-group.to-do-drawer .task,
.task.pending {
    background-color: rgb(236, 236, 236);
}

.task:hover {
    transform: scale(0.99);
}
