.task-group {
    /* padding: 100px; */
    margin: 20px 0 50px;
    max-width: 800px;
}

.task-group-header {
    font-size: 1.4rem;
    padding: 42px 0;
    /* position: relative;
    left: calc(-1 * ((var(--focus-depth) - 1) * -80px) / 2);
    transition: 200ms left ease-out; */
}
