.task-wrapper {
    margin-bottom: 40px;
    cursor: pointer;
}

.task {
    font-size: 1.2rem;
    line-height: 22px;

    padding: 5px 20px;

    background-color: rgba(212, 255, 20, 0.808);

    border-radius: 8px;
}
