/* app */
:root {
    --primary-color: rgba(212, 255, 20, 0.8);
    --primary-color-opaque: #ddff5d;
    --light-gray-background: #eeeeee;
}

.floating-corner.white {
    background-color: #ffff;
    color: #000;
}

.floating-corner.light {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #8882;
    color: #000;
}

.floating-corner.dark {
    background-color: #000e;
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgba(212, 255, 20, 0.8);
        --primary-color-opaque: #d1ff2a;
        --light-gray-background: #eeeeee;
    }

    html {
        color: #fff;
        background-color: rgb(27, 27, 27);
    }

    .floating-corner.white {
        background-color: #000;
        color: #fff;
    }

    .floating-corner.light {
        background-color: #000e;
        color: #fff;
        border: 1px solid rgba(202, 202, 202, 0.133);
    }

    .floating-corner.dark {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
    }
}

/* infinite sheet */

#infinite-sheet {
    background: url("img/dot-background.png");
}

@media (prefers-color-scheme: dark) {
    #infinite-sheet {
        background: url("img/dot-background-dark-mode.png");
    }
}

/* DVM selector */

#left,
#right {
    background-color: #000000;
    color: #ffffff;
}

#left-activated-caption,
#right-activated-caption {
    background-color: var(--light-gray-background);
}

@media (prefers-color-scheme: dark) {
    #left,
    #right {
        background-color: rgb(185, 185, 185);
        color: #000;
    }

    #left-activated-caption,
    #right-activated-caption {
        background-color: #3d3d3d;
        color: #bebebe;
    }
}

/* task */

.task.pending {
    --text-color: #000000;
    --background-color: rgb(236, 236, 236);
}

.task.done {
    --text-color: #000000;
    --background-color: rgba(212, 255, 20, 0.8);
}

@media (prefers-color-scheme: dark) {
    .task.pending {
        --text-color: #bebebe;
        --background-color: #3d3d3d;
    }

    .task.done {
        --text-color: var(--primary-color-opaque);
        --background-color: #3d3d3d;
    }
}
