#infinite-sheet {
    min-height: 150vh;

    display: inline-flex;
    flex-direction: column;
    align-items: left;

    /* overscroll */
    padding: 30vh 100vw 80vh;

    position: relative;
    margin-left: calc(50%);
    transform: translateX(-50%);

    background-position: 50% 50%;
}

.auto-focus-shift-area {
    transition: left var(--auto-focus-shift-transition-duration) var(--auto-focus-shift-transition-timing-function);
}

.auto-focus-shift-area {
    left: 0;
}

.auto-focus-shift-area.auto-focus-enabled {
    left: calc((var(--focus-depth) - 1) * -1 * var(--focus-depth-shift));
}
