:root {
    --primary-color: rgba(212, 255, 20, 0.8);
    --primary-color-opaque: #ddff5d;
    --light-gray-background: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 12pt;
    color: inherit;
    text-decoration: inherit;
    cursor: default;
    user-select: none;
}

body {
    position: relative;
}

.document-sheet {
    width: 100vw;
    overflow-x: hidden;
}

.floating-corner {
    position: fixed;
    z-index: 1000;
    padding: 20px;
}

.floating-corner.top {
    top: 20px;
}

.floating-corner.bottom {
    bottom: 20px;
}

.floating-corner.left {
    left: 20px;
}

.floating-corner.right {
    right: 20px;
}

.floating-corner.white {
    background-color: #ffff;
    color: #000;
}

.floating-corner.light,
.floating-corner.dark {
    backdrop-filter: blur(50px) saturate(5);
    -webkit-backdrop-filter: blur(50px) saturate(5);
    border-radius: 20px;
}

.floating-corner.light {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #8882;
    color: #000;
}

.floating-corner.dark {
    background-color: #000e;
    color: #fff;
}

#home-button {
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
}

#date-anchors {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#date-anchors > a {
    padding: 5px 10px;
    cursor: pointer;
}

#date-anchors > a:hover {
    opacity: 0.5;
}

#active-task-details > div.task {
    margin: 10px 0;
}

#active-task-details > div.task:nth-of-type(2) {
    margin-left: 20px;
}

#active-task-details > div.task:nth-of-type(3) {
    margin-left: 40px;
}

#active-task-details > div.task:nth-of-type(4) {
    margin-left: 60px;
}

/* phone view / auto-focus */
@media only screen and (max-width: 600px) {
    #infinite-sheet {
        /* width: 2000px; */
        /* height: auto; */
        min-height: 100vh;

        display: inline-flex;
        flex-direction: column;
        align-items: left;

        /* overscroll */
        padding: 100vh 100vw 50vh;

        position: relative;
        top: calc(-100vh + 20vw);
        left: calc(-100vw + (var(--focus-depth) - 1) * -40px + min(50vw, 600px) / 2);
        transition: 200ms left ease-out;

        /* margin-left: 50%;
    transform: translateX(-50%); */

        background-position: 50% 50%;

        outline: 1px solid red;
    }
}

/* desktop/tablet view */
@media only screen and (min-width: 601px) {
    #infinite-sheet {
        /* width: 2000px; */
        /* height: auto; */
        min-height: 100vh;

        display: inline-flex;
        flex-direction: column;
        align-items: left;

        /* overscroll */
        padding: 20vh 100vw 50vh;

        position: relative;
        /* top: calc(-100vh + 20vw);
        left: calc(-100vw + 5vw + (var(--focus-depth) - 1) * -40px); */
        /* transition: 200ms left ease-out; */

        margin-left: 50%;
        transform: translateX(-50%);

        background-position: 50% 50%;

        outline: 1px solid red;
    }
}

/* #settings-documentViewMode {
    display: flex;
}

#settings-documentViewMode > div {
    padding: 5px 10px;
    border-radius: 8px;
}

#settings-documentViewMode > div.sc-picked {
    background-color: var(--primary-color);
    cursor: not-allowed;
}

#settings-documentViewMode > div:not(.sc-picked) {
    cursor: pointer;
}

#settings-documentViewMode > div:not(.sc-picked):hover {
    opacity: 0.75;
} */

@keyframes cardSwitchingLeftCardPromotingLeft {
    0% {
        transform: translateX(0) scale(0.5);
        z-index: 100;
        /* opacity: 0; */
    }

    50% {
        transform: translateX(-30%) scale(0.75);
        z-index: 101;
    }

    100% {
        transform: none;
        /* opacity: 1; */
        z-index: 101;
    }
}

@keyframes cardSwitchingRightCardPromotingLeft {
    0% {
        transform: none;
        /* opacity: 1; */
        z-index: 101;
    }

    50% {
        transform: translateX(30%) scale(0.75);
        z-index: 100;
    }

    100% {
        transform: translateX(0) scale(0.5);
        z-index: 100;
        /* opacity: 0; */
    }
}
@keyframes cardSwitchingLeftCardPromotingRight {
    0% {
        transform: none;
        /* opacity: 1; */
        z-index: 101;
    }

    50% {
        transform: translateX(-30%) scale(0.75);
        z-index: 100;
    }

    100% {
        transform: translateX(0) scale(0.5);
        /* opacity: 0; */
        z-index: 100;
    }
}

@keyframes cardSwitchingRightCardPromotingRight {
    0% {
        transform: translateX(0) scale(0.5);
        /* opacity: 0; */
        z-index: 100;
    }
    50% {
        transform: translateX(30%) scale(0.75);
        z-index: 101;
    }

    100% {
        transform: none;
        /* opacity: 1; */
        z-index: 101;
    }
}

#left,
#right {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* #left {
    transform-origin: 100% 0%;
}
#right {
    transform-origin: 0% 100%;
} */

.left-picked #left {
    animation: cardSwitchingLeftCardPromotingLeft 0.3s ease-in-out 1 both;
}

.left-picked #right {
    animation: cardSwitchingRightCardPromotingLeft 0.3s ease-in-out 1 both;
}

.right-picked #left {
    animation: cardSwitchingLeftCardPromotingRight 0.3s ease-in-out 1 both;
}

.right-picked #right {
    animation: cardSwitchingRightCardPromotingRight 0.3s ease-in-out 1 both;
}

@keyframes caption-activated {
    0%,
    100% {
        transform: scale(0.001);
        opacity: 0;
        animation-timing-function: cubic-bezier(0.34, 1.58, 0.6, 0.99);
        visibility: hidden;
    }
    1%,
    99% {
        visibility: visible;
    }

    20%,
    80% {
        opacity: 1;
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

#left-activated-caption,
#right-activated-caption {
    background-color: var(--light-gray-background);
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    bottom: 120%;
    left: 120%;
    transform-origin: 0% 100%;
    transform: scale(0.001);
    opacity: 0;
    display: block;
}

.left-picked #left-activated-caption,
.right-picked #right-activated-caption {
    animation: caption-activated 1s 0.2s linear 1 both;
}
