* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 12pt;
    color: inherit;
    text-decoration: inherit;
}

body {
    position: relative;
}

.document-sheet {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* overscroll */
    padding: 50px 50px 30vh;
}
