* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 12pt;
    color: inherit;
    text-decoration: inherit;
}

body {
    position: relative;
}

.document-sheet {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* overscroll */
    padding: 50px 50px 30vh;
}

.floating-corner {
    position: fixed;
    z-index: 1000;
    padding: 20px;
}

.floating-corner.top {
    top: 20px;
}

.floating-corner.bottom {
    bottom: 20px;
}

.floating-corner.left {
    left: 20px;
}

.floating-corner.right {
    right: 20px;
}

.floating-corner.white {
    background-color: #ffff;
    color: #000;
}

.floating-corner.light,
.floating-corner.dark {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

.floating-corner.light {
    background-color: #eeee;
    color: #000;
}

.floating-corner.dark {
    background-color: #000e;
    color: #fff;
}

#home-button {
    text-decoration: none;
    font-size: 1.6rem;
}

#date-anchors {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#date-anchors > a {
    padding: 5px 10px;
}

#date-anchors > a:hover {
    opacity: 0.5;
}

#active-task-details > div.task {
    margin: 10px 0;
}

#active-task-details > div.task:nth-of-type(2) {
    margin-left: 20px;
}

#active-task-details > div.task:nth-of-type(3) {
    margin-left: 40px;
}

#active-task-details > div.task:nth-of-type(4) {
    margin-left: 60px;
}
